*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.udl {
    display: inline;
    background-image: linear-gradient(#FDE74C, #FDE74C);
    background-size: 0% 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background .5s ease-out;
}
  
.udl:hover {
    background-size: 100% 2px;
}
.poster {
    display: inline;
    background-image: linear-gradient(#FDE74C, #FDE74C);
    background-size: 0% 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    transition-delay: 1s;
    transition: background 1s ease-out;
    padding: 0;
}


/* -------------------------------- Scrollbar ------------------------------- */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #141414;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #FDE74C;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(253, 253, 253); 
  }
/* --------------------------------- Navbar --------------------------------- */
.navbar{
    height: 80px;
    background-color: transparent !important;
    transition: all .4s ease;
}
.nav-link{
    font-size: 20px;
}
.navbar-colored{
    background-color: #141414 !important;
}
.navbar-transparent{
    background-color: transparent !important;
}

/* ---------------------------------- Home ---------------------------------- */
.jumbotron {
    background: url("../assets/img/bg1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
    margin-bottom: 0;
    filter:background brightness(60%) ;
}
.jumbotron .container{
    color: white;
    padding-top: 75px;
}
.home h1{
    margin-bottom: 0;
    text-shadow: 3px 3px 2px black;
}
.home h2{
    display: inline-block;
    font-weight: bold !important;
    text-shadow: 3px 3px 2px black;
}
html:hover .home .udl {
    background-size: 100% 35px;
}
.home .udl {
    background-size: 0% 35px;
    background-position: 0% 100%;
    transition: background 1s ease-in-out;
}
.home .lead{
    background-color: black;
    display: inline-block;
    padding : 8px;
    font-size: 30px;
    letter-spacing: 5px;
}

/* ---------------------------------- About --------------------------------- */
.about{
    background-color: white;
}
.about .card{
    margin: 0;
    border: 0;
    margin-bottom: 0;
    background-color:transparent !important;
    
}
.about .card img{
    border-radius: 0;
    margin-bottom: 0;
}
.about .card-body{
    padding-top: 50px;
    padding-left: 60px;
    margin-bottom: 0;
}
.about .title-sec{
    margin-bottom: 40px;
}

.about .udl {
    background-size: 0% 22px;
    background-position: 0% 100%;
    transition: background 1s ease-in-out;
}
.about:hover  .udl {
    background-size: 100% 22px;
}
.about h6{
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 20px;
}
.about .back-element {
    background-size: 55% 100% !important;
}
  
.about .back-element:hover {
    background-size: 0% 100% !important;
}


/* --------------------------------- Why us --------------------------------- */
.whyus{
    min-height: 500px;
    background-color: #141414;
    color: white;
}
.whyus .container {
    padding: 30px;
    
    
}
.whyus h1{
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 40px;
}
.whyus .card h5{
    margin-bottom: 40px;
}
.whyus:hover .udl {
    background-size: 100% 3px;
}
.whyus .udl {
    background-size: 0% 3px;
    background-position: 0% 100%;
}
.tittle-sec span{
    color: #FDE74C;
}
.whyus .card{
    background-color: transparent;
    border: 0;
    padding: 10px;
}

.whyus .icons{
    font-size: 150px;
    transition: all .5s ease;
    margin: 30px auto;
}
.whyus .card:hover .icons{
    color: #FDE74C;
}

/* --------------------------------- Product -------------------------------- */
.controls-top .btn{
    border: solid 1px #646771;
    color: #646771;
    margin: 5px;
}
.controls-top .btn:focus{
    box-shadow: 0px 0px 5px #646771;
}
.controls-top .btn:hover{
    border: solid 1px #141414;
    color: #141414
}
.product .container{
    margin-top: 75px;
    margin-bottom: 75px;
}

.product .udl {
    background-size: 0% 22px;
    background-position: 0% 100%;
    transition: background 1s ease-in-out;
}
.product:hover  .udl {
    background-size: 100% 22px;
}
.product h3{
    margin-top: 25px;
}

.product h6{
    letter-spacing: 2px;
}
.product .card-img-top{
    height: 300px;
    width: 300px;
    margin: auto;
}
.product .carousel{
    border:  solid 1px #141414;
}
.product .card{
    border:  none;
    background-color: transparent;
}
.product .card-body {
    padding-top: 0px;
}

.product .poster{
    background-position: 100% 0% !important;
}

.back-element {
    background-size: 45% 100% !important;
}
  
.back-element:hover {
    background-size: 0% 100% !important;
}

.product img{
    filter: drop-shadow(2px 2px 3px #222);
}
/* --------------------------------- Contact -------------------------------- */
.contact{
    background-color: #141414;
    color: white;
    padding: 50px;
    

}
.contact .card{
    background-color: transparent;
    border: 0;
}
.contact .container{
    padding: 10px;
}
.contact .icons{
    font-size: 150px;
    color: #FDE74C;
    
}
.contact .head{
    border-right: 2px solid rgba(189, 196, 203, 0.5);
}
.contact .form-group .form-control{
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0;
    border-bottom: 2px solid rgba(189, 196, 203, 0.5) !important;
    transition: all .5s ease;
    padding: 5px;
}
.contact .form-group .form-control:focus{
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    border-bottom: 2px solid #FDE74C !important;
}
.contact .btn{
    margin-top: 20px;
    color: #646771;
    background-color: transparent;
    display: inline-block;
    border-bottom: 2px solid rgba(189, 196, 203, 0.5)  !important;
    border: none;
    border-radius: 0;
}
.contact .btn:hover{
    border-bottom: 2px solid #FDE74C !important;
    color: #FDE74C;
}
.contact .btn:active{
    box-shadow: none;
}

/* --------------------------------- Footer --------------------------------- */
.footer{
    padding: 2% 7%;
    color: #646771;
    background-color: #141414;
}
.footer .brand-logo{
    max-width: 50px;
    max-height: 50px;
}
.footer .company-brand h1{
     color: #FDE74C;
     margin-left: 10px;
     border-left: 2px solid rgba(189, 196, 203, 0.5);
     padding-left: 10px;
} 
.footer .company-brand h1 span{
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #FDE74C;
    cursor: pointer
}


.social i {
    padding: 1%;
    margin-right: 5px;
    font-size: 20px
}

.social i:hover {
    color:#FDE74C;
    cursor: pointer
}

.heading {
    color: white
}

.line {
    border-top: 2px solid #FDE74C;
}
.footer h6{
    transition: all .5s ease;
}
.footer:hover h6{
    color: #FDE74C;
}
.footer-content:hover .heading {
    background-size: 100% 2px;
}